.main-delete-button {
    margin-left: 10px;
}

.action-button {
    margin-left: 3px;
}

p-dialog-content {
    height: 700px;
}

.ui-calendar .ui-datepicker {
    height : 200px;
  }
  
  .ui-datepicker td span, .ui-datepicker td a {
    padding: 0px;
  }