<p-table #dt1
  [value]="users"
  dataKey="id"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20]"
  [loading]="loading"
  styleClass="p-datatable-customers p-datatable-gridlines"
  [paginator]="true"
  [totalRecords]="totalRecords"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['name','cpf']">

  <ng-template pTemplate="header">
    <tr>
        <th>Name</th>
        <th>CPF</th>
        <th>Birthday</th>
        <th></th>
    </tr>
    <tr>
        <th>
            <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="text" field="cpf"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="birthday"></p-columnFilter>
        </th>
        <th>
        </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr>
        <td>
            {{user.name}}
        </td>
        <td>
            <span class="image-text">{{user.cpf}}</span>
        </td>
        <td>
            <span class="image-text">{{user.birthday}}</span>
        </td>
        <td>
          <span class="badge bg-primary second-button pointer" (click)="editUser(user)">Edit</span>
          <span class="badge bg-danger second-button pointer" (click)="confirmDelete(user)">Delete</span>
          <span class="badge bg-info second-button pointer" (click)="showUserSalaryMean(user)">Mean salary</span>
          <span class="badge bg-info second-button pointer" (click)="showUserMaxSalary(user)">Max salary</span>
          <span class="badge bg-info second-button pointer"(click)="showUserMinSalary(user)">Min salary</span>
          <span class="badge bg-info second-button pointer"(click)="showUserDiscountMean(user)">Mean discount</span>
        </td>
    </tr>
  </ng-template>

</p-table>

<p-dialog [header]="dialogTitle" [(visible)]="displayDialog" (onHide)="cleanDialog($event)">
  {{dialogValue}}
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"> </p-confirmDialog>

<p-toast></p-toast>
